<!--Search Form-->
<div class="top-bar" id="search-bar">

  <form>

    <mat-form-field class="search-field" appearance="fill">
      <mat-label>Departure</mat-label>
      <select matNativeControl [(ngModel)]="searchCriteria.departure" name="departure">
        <option value="" selected></option>
        <option *ngFor="let location of airports" [value]="location.toLowerCase()">
          {{location | titlecase }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field class="search-field" appearance="fill">
      <mat-label>Arrival</mat-label>
      <select matNativeControl [(ngModel)]="searchCriteria.arrival" name="arrival">
        <option value="" selected></option>
        <option *ngFor="let location of airports" [value]="location.toLowerCase()">
          {{location | titlecase }}
        </option>
      </select>
    </mat-form-field>

    <button class="search-field" mat-raised-button color="primary" (click)="filterEntries()">Search</button>
    <button class="search-field" mat-raised-button color="primary" (click)="handleSearchClear()"
            [disabled]="searchCriteria.departure === '' && searchCriteria.arrival === ''">Clear</button>
  </form>
</div>

<!--Create New-->
<div class="top-bar" id="create-new">
  <button class="add-entry-button" (click)="openForm()"><strong>Add Fare</strong></button>
</div>


<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-8 grid-margin stretch-card" >
        <div class="card">
          <div class="card-body">

            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                  <th>No.</th>
                  <th>Departure</th>
                  <th>Arrival</th>
                  <th>Fare (USD)</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                <tr app-fare-item *ngFor="let datum of searchedData; let i = index;"
                    [entry]="datum"
                    (deleteButtonClicked)="handleDelete($event)"
                    (editButtonClicked)="openForm($event)"
                    [rowNumber]="i"
                >
                </tbody>
              </table>
            </div>
            <mat-spinner *ngIf="!searchedData"  style="margin: 0 auto"></mat-spinner>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!--Entry List-->
<!--<div>-->
<!--  <h2>Available Fares</h2>-->
<!--  <table>-->

<!--    <thead>-->
<!--    <tr>-->
<!--      <th>No.</th>-->
<!--      <th>Departure</th>-->
<!--      <th>Arrival</th>-->
<!--      <th>Fare (USD)</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--      <tr app-fare-item *ngFor="let datum of searchedData; let i = index;"-->
<!--          [entry]="datum"-->
<!--          (deleteButtonClicked)="handleDelete($event)"-->
<!--          (editButtonClicked)="openForm($event)"-->
<!--          [rowNumber]="i"-->
<!--      >-->
<!--    </tbody>-->

<!--  </table>-->
<!--  <mat-spinner *ngIf="!searchedData"  style="margin: 0 auto"></mat-spinner>-->
<!--</div>-->
