

<form #f="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Departure</mat-label>
    <input matInput name="departure" [(ngModel)]="data.departure">
    <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    <!--    <mat-hint>Departure</mat-hint>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Destination</mat-label>
    <input matInput name="destination" [(ngModel)]="data.destination" >
    <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Mileage(miles)</mat-label>
    <input matInput name="mileage" [(ngModel)]="data.mileage">
    <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Duration(H)</mat-label>
    <input matInput name="durationH" [(ngModel)]="data.durationH">
    <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Duration(M)</mat-label>
    <input matInput name="durationM" [(ngModel)]="data.durationM">
    <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
  </mat-form-field>
  <br>
  <button mat-raised-button type="button" (click)="onSubmitCreate()">Create</button>
  <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Discard</button>
</form>

