<h1 mat-dialog-title>{{ this.data.type }}</h1>

<form #f="ngForm" [formGroup]="sampleForm">
  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Departure</mat-label>
        <input matInput formControlName="departure" matInput name="departure">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Arrival</mat-label>
        <input matInput formControlName="arrival" name="arrival">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fare</mat-label>
        <input matInput name="fare" type="number" formControlName="fare">
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Discard</button>
    <button mat-button (click)="resetForm()">Reset</button>
    <button mat-button (click)="onSubmitUpdate()" [disabled]="sampleForm.invalid">Submit</button>
  </div>
</form>
