th {
  border: 1px solid #ddd;
  padding: 8px;
}

table{
  width: 100%;
  border: 15px solid #004f80;

}

tr:nth-child(even) {
  background-color: #eed6d6;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;
}

.overlay-form{
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px  rgba(0,0,0,0.26);
  align-content: center;
}

.overlay-edit-add-form {
  top: 30vh;
  left: 20vw;

  width: 100%;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px  rgba(0,0,0,0.26);
  align-content: center;

}

.form-field-full-width {
  width: 100%;
}

