<div class="search-filter" >
  <form #searchFilterForm="ngForm" class="search-form" [hidden]="!airports">
    <mat-form-field appearance="fill">
      <mat-label>Flight number</mat-label>
      <input
        type="text"
        name="fNumber"
        matInput
        [ngModel] = "searchOptions.flight_number"
        maxLength="4"
        minlength="4"
        pattern="^[A-Za-z]{3}[0-9]{1}$"
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Departure</mat-label>
      <select matNativeControl [ngModel]="searchOptions.departure" name="fDeparture"  >
        <option value="" selected></option>
        <option *ngFor="let airport of airports" [value]="airport">
          {{airport | titlecase }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Arrival</mat-label>
      <select matNativeControl [ngModel]="searchOptions.departure" name="fArrival" >
        <option value="" selected></option>
        <option *ngFor="let airport of airports" [value]="airport">
          {{airport | titlecase }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Departure date</mat-label>
      <input matInput type="date" [ngModel]="searchOptions.departureDate" name="fDepartureDate" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Arrival date</mat-label>
      <input matInput type="date" [ngModel]="searchOptions.arrivalDate" name="fArrivalDate">
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Departure time</mat-label>
      <input matInput  type="time" [ngModel]="searchOptions.departureTime" name="fDepartureTime">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Arrival time</mat-label>
      <input matInput  type="time" [ngModel]="searchOptions.arrivalTime" name="fArrivalTime">
    </mat-form-field>



    <button mat-raised-button color="primary" type="submit"  (click)="onClickSearch(searchFilterForm)" >Search</button>
    <button mat-raised-button color="primary"   (click)="onClearSearch(searchFilterForm)" [disabled]="!searchFilterForm.dirty || isFormEmpty(searchFilterForm.value)">Clear</button>


  </form>
</div>

<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">

      <div class="col-lg-8 grid-margin stretch-card" >
        <div class="card">
          <div class="card-body">

            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                  <th >Flight Number</th>
                  <th>Departure</th>
                  <th>Arrival</th>
                  <th>Departure Date</th>
                  <th>Departure Time</th>
                  <th>Arrival Date</th>
                  <th>Arrival Time</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                <tr app-flight-item   *ngFor="let flightEl of flights"
                    [flight]="flightEl" (flightDeleted) = "onDeleteFlight($event,searchFilterForm)" (flightEdited) = "onEditFlight($event)" >

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <button  class="add-flight-button" [hidden]="isOverlayShow" (click)="onClickAddFlight()"><strong>Add Flight</strong></button>
</div>


<div *ngIf="isOverlayShow">
  <div class="backdrop" (click)="onCancelEdit()"></div>


  <div class="overlay-form">
    <div class="mat-mdc-dialog-container">
      <form class="overlay-edit-add-form" [formGroup]="overlayForm" (ngSubmit)="onSubmitForm()">
        <input value="" formControlName ="oId" hidden="hidden">

        <span *ngIf="overlayForm.get('oFlightNumber')?.hasError('required') && overlayForm.get('oFlightNumber')?.touched" class="form-error-message">
            Flight Number is required.
        </span>

        <span *ngIf="overlayForm.get('oFlightNumber')?.hasError('pattern') && overlayForm.get('oFlightNumber')?.touched" class="form-error-message">
           Should have 3 leading letters and number - [SLP1]
        </span>
        <mat-form-field class="form-field-full-width">
          <mat-label>Flight Number</mat-label>
          <input matInput
                 value=""
                 formControlName = "oFlightNumber"
                 maxlength="4"
                 minlength="4"
                  >
        </mat-form-field>


        <span *ngIf="!overlayForm.get('oDeparture')?.valid && overlayForm.get('oDeparture')?.touched" class="form-error-message">
            Departure is required.
        </span>
        <div *ngIf="overlayForm.errors?.['arrivalDepartureError'] && (overlayForm.touched || overlayForm!.dirty)" class="form-error-message">
          Departure and Arrival Can not be Same*
        </div>

        <mat-form-field class="form-field-full-width">
          <mat-label>Departure</mat-label>
            <select matNativeControl  formControlName="oDeparture"  >
              <option *ngFor="let airport of airports" [value]="airport">
                {{airport | titlecase }}
              </option>
            </select>
        </mat-form-field>
        <br>


        <span *ngIf="!overlayForm.get('oArrival')?.valid && overlayForm.get('oArrival')?.touched" class="form-error-message">
            Arrival is required.
        </span>

        <mat-form-field class="form-field-full-width">
          <mat-label>Arrival</mat-label>
            <select matNativeControl  formControlName="oArrival"  >
              <option *ngFor="let airport of airports" [value]="airport">
                {{airport | titlecase }}
              </option>
            </select>
        </mat-form-field>
        <br>

        <span *ngIf="overlayForm.get('oDepartureDateNTime')?.hasError('required') && overlayForm.get('oDepartureDateNTime')?.touched" class="form-error-message">
            Departure Date is required.
        </span>

        <mat-form-field class="form-field-full-width">
          <mat-label>Departure Date & Time</mat-label>
          <input  matInput
                  type="datetime-local"
                  formControlName = "oDepartureDateNTime"
          >
        </mat-form-field>
        <br>


        <span *ngIf="!overlayForm.get('oArrivalDateNTime')?.valid && overlayForm.get('oArrivalDateNTime')?.touched" class="form-error-message">
            Arrival Date is required.
        </span>
        <div *ngIf="overlayForm.errors?.['isDateValid'] && (overlayForm.touched || overlayForm!.dirty)" class="form-error-message">
          Invalid Arrival date and time*
        </div>

        <mat-form-field class="form-field-full-width">
          <mat-label>Arrival Date & Time</mat-label>
          <input  matInput
                  type="datetime-local"
                  formControlName = "oArrivalDateNTime"
                  >
        </mat-form-field>
        <br>

        <button *ngIf="!isEditMode" type="submit" [disabled]="!overlayForm.valid" mat-raised-button color="primary">Add Flight</button>
        <button *ngIf="isEditMode"  type="submit" [disabled]="!overlayForm.valid || overlayForm.pristine"  mat-raised-button color="primary">Apply</button>
        <button  type="button" [disabled]="!overlayForm.dirty" (click)="onClickReset()" mat-raised-button color="warn">Reset</button>
        <button type="button" (click)="onCancelEdit()" mat-raised-button color="warn">Discard</button>

      </form>
    </div>
  </div>


</div>


