<div class="search-filter">
  <form #searchFilterForm="ngForm" class="search-form">
    <mat-form-field appearance="fill">
      <mat-label>Flight number</mat-label>
      <input type="text" name="fNumber" matInput [(ngModel)] = "searchOptions.flight_number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Departure</mat-label>
      <input type="text" name="fDeparture" matInput  [(ngModel)] = "searchOptions.departure" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Arrival</mat-label>
      <input type="text" name="fArrival" matInput  [(ngModel)] = "searchOptions.arrival" >
    </mat-form-field>



    <mat-form-field appearance="fill">
      <mat-label>Arrival date</mat-label>
      <input matInput type="date" [(ngModel)]="searchOptions.arrivalDate" name="fArrivalDate">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Departure date</mat-label>
      <input matInput type="date" [(ngModel)]="searchOptions.departureDate" name="fDepartureDate" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Arrival time</mat-label>
      <input matInput  type="time" [(ngModel)]="searchOptions.arrivalTime" name="fArrivalTime">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Departure time</mat-label>
      <input matInput  type="time" [(ngModel)]="searchOptions.departureTime" name="fDepartureTime">
    </mat-form-field>


    <button mat-raised-button color="primary"   (click)="onClearSearch(searchFilterForm)">Clear</button>


  </form>
</div>


<div style="width: 100%">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Flight list</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" *ngIf="flights">
        <thead>
        <tr>
          <th>Flight Number</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Departure Date</th>
          <th>Departure Time</th>
          <th>Arrival Date</th>
          <th>Arrival Time</th>
        </tr>
        </thead>
        <tbody >
        <tr app-flight-item
            *ngFor="let flightEl of flights |
            dataFilter:searchOptions.flight_number:'flight_number' |
            dataFilter:searchOptions.departure:'departure' |
            dataFilter:searchOptions.arrival:'arrival' |
            dataFilter:searchOptions.departureDate:'departure_date'|
            dataFilter:searchOptions.departureTime:'departure_time' |
            dataFilter:searchOptions.arrivalDate:'arrival_date' |
            dataFilter:searchOptions.arrivalTime:'arrival_time'
            "
            [flight]="flightEl" (flightDeleted) = "onDeleteFlight($event,searchFilterForm)" (flightEdited) = "onEditFlight($event)" >
        </tbody>
      </table>
      <p *ngIf="!flights"> Loading...</p>
    </div>
  </div>

  <button  class="add-flight-button" [hidden]="isOverlayShow" (click)="onClickAddFlight()"><strong>Add Flight</strong></button>


</div>

<div *ngIf="isOverlayShow">
  <div class="backdrop" (click)="onCancelEdit()"></div>


  <div class="overlay-form">
    <div class="mat-mdc-dialog-container">
      <form class="overlay-edit-add-form" [formGroup]="overlayForm" (ngSubmit)="onSubmitForm()">
        <input value="" formControlName ="oId" hidden="hidden">

        <span *ngIf="!overlayForm.get('oFlightNumber')?.valid && overlayForm.get('oFlightNumber')?.touched" class="form-error-message">
            Flight Number is required.
        </span>

        <mat-form-field class="form-field-full-width">
          <mat-label>Flight Number</mat-label>
          <input matInput
                 value=""
                 formControlName = "oFlightNumber"
                  >
        </mat-form-field>


        <span *ngIf="!overlayForm.get('oDeparture')?.valid && overlayForm.get('oDeparture')?.touched" class="form-error-message">
            Departure is required.
        </span>
        <div *ngIf="overlayForm.errors?.['arrivalDepartureError'] && (overlayForm.touched || overlayForm!.dirty)" class="form-error-message">
          Departure and Arrival Can not be Same*
        </div>

        <mat-form-field class="form-field-full-width">
          <mat-label>Departure</mat-label>
          <input  matInput
                  value=""
                  formControlName ="oDeparture"
          >

        </mat-form-field>
        <br>


        <span *ngIf="!overlayForm.get('oArrival')?.valid && overlayForm.get('oArrival')?.touched" class="form-error-message">
            Arrival is required.
        </span>

        <mat-form-field class="form-field-full-width">
          <mat-label>Arrival</mat-label>
          <input  matInput
                  value=""
                  formControlName = "oArrival"
                  >
        </mat-form-field>
        <br>

        <span *ngIf="!overlayForm.get('oDepartureDateNTime')?.valid && overlayForm.get('oDepartureDateNTime')?.touched" class="form-error-message">
            Departure Date is required.
        </span>
        <div *ngIf="overlayForm.errors?.['duplicateEntry'] && (overlayForm.touched || overlayForm!.dirty)" class="form-error-message">
          This flight number has an entry on that time*
        </div>
        <mat-form-field class="form-field-full-width">
          <mat-label>Departure Date & Time</mat-label>
          <input  matInput
                  type="datetime-local"
                  value=""
                  formControlName = "oDepartureDateNTime"
          >
        </mat-form-field>
        <br>


        <span *ngIf="!overlayForm.get('oArrivalDateNTime')?.valid && overlayForm.get('oArrivalDateNTime')?.touched" class="form-error-message">
            Arrival Date is required.
        </span>
        <div *ngIf="overlayForm.errors?.['isDateValid'] && (overlayForm.touched || overlayForm!.dirty)" class="form-error-message">
          Invalid Arrival date and time*
        </div>

        <mat-form-field class="form-field-full-width">
          <mat-label>Arrival Date & Time</mat-label>
          <input  matInput
                  type="datetime-local"
                  value=""
                  formControlName = "oArrivalDateNTime"
                  >
        </mat-form-field>
        <br>

        <button *ngIf="!isEditMode" type="submit" [disabled]="!overlayForm.valid" mat-raised-button color="primary">Add Flight</button>
        <button *ngIf="isEditMode"  type="submit" [disabled]="!overlayForm.valid || overlayForm.pristine"  mat-raised-button color="primary">Save</button>
        <button  type="button" [disabled]="!overlayForm.dirty" (click)="onClickReset()" mat-raised-button color="warn">Reset</button>
        <button type="button" (click)="onCancelEdit()" mat-raised-button color="warn">Discard</button>

      </form>
    </div>
  </div>


</div>
