<div style="width: 100%; " >
  <div class="panel panel-primary " >
    <div class="panel-heading">
      <h2>Flight list</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" >
        <thead>
        <tr>
          <th>Flight Number</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Departure Date</th>
          <th>Departure Time</th>
          <th>Arrival Date</th>
          <th>Arrival Time</th>
          <th>Fare ($)</th>
        </tr>
        </thead>

        <tbody *ngIf="availableFlightList">

        <tr app-available-flight-item *ngFor="let flightEl of availableFlightList" [availableFlight]="flightEl"  >
        </tbody>
      </table>

    </div>
<!--    <mat-spinner *ngIf="!flights"  style="margin: 0 auto"></mat-spinner>-->
  </div>

</div>
