
<td style="text-align: center">{{rowNumber+1}}</td>
<td style="text-align: center">{{route.departure | titlecase}}</td>
<td style="text-align: center">{{route.destination | titlecase}}</td>
<td style="text-align: center">{{route.mileage}}</td>
<td style="text-align: center">{{getHours(route.durationH)}} hours {{getMinutes(route.durationH)}} minutes</td>
<td>
  <button mat-raised-button color="primary" style="margin-left: 10px" (click)="openDialog();">Edit</button>
  <button mat-raised-button color="warn" style="margin-left: 10px" (click)="deleteItem();">Delete</button>
</td>




