
<td *ngIf="route.status==1" style="text-align: center">{{rowNumber+1}}</td>
<td *ngIf="route.status==1" style="text-align: center">{{route.departure | titlecase}}</td>
<td *ngIf="route.status==1" style="text-align: center">{{route.destination | titlecase}}</td>
<td *ngIf="route.status==1" style="text-align: center">{{route.mileage}}</td>
<td *ngIf="route.status==1" style="text-align: center">{{getHours(route.durationH)}} hours {{getMinutes(route.durationH)}} minutes</td>
<td *ngIf="route.status==1">
  <button mat-raised-button color="primary" style="margin-left: 10px" (click)="openDialog();">Edit</button>
  <button mat-raised-button color="warn" style="margin-left: 10px" (click)="deleteItem();">Delete</button>
</td>




