<ul>
  <li><a routerLink="/" id="home" (click)="activateSearch()">Flight Management System</a></li>
  <li><a routerLink="/" id="search" [ngClass]="searchActive? 'active': 'inactive'" (click)="activateSearch()">Search</a></li>
  <li><a routerLink="/flights" id="flights" [ngClass]="flightsActive? 'active': 'inactive'" (click)="activateFlights()">Flights</a></li>
  <li><a routerLink="/routes" id="routes" [ngClass]="routesActive? 'active': 'inactive'" (click)="activateRoutes()">Routes</a></li>
  <li><a routerLink="/fares" id="fares" [ngClass]="faresActive? 'active': 'inactive'" (click)="activateFares()">Fares</a></li>
</ul>
