<h1 mat-dialog-title>{{ this.data.createEvent? "Create" : "Edit" }}</h1>
<form #f="ngForm" [formGroup]="formGroup">

  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Departure</mat-label>
        <select matNativeControl formControlName="departure" name="departure">
          <option *ngFor="let location of data.airports" [value]="location.toLowerCase()">
            {{location | titlecase }}
          </option>
        </select>
        <span class="text-danger" *ngIf="formGroup!.errors?.['sameLocation']">
          Locations need to be distinct!
        </span>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Arrival</mat-label>
        <select matNativeControl formControlName="arrival" name="arrival">
          <option *ngFor="let location of data.airports" [value]="location.toLowerCase()">
            {{location | titlecase }}
          </option>
        </select>
        <span class="text-danger" *ngIf="formGroup!.errors?.['sameLocation']">
          Locations need to be distinct!
        </span>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fare (USD)</mat-label>
        <input matInput name="fare" type="number" formControlName="fare">
        <span class="text-danger" *ngIf="formGroup.get('fare')!.errors?.['notANumber']">
          Should be a number!
        </span>
        <span class="text-danger" *ngIf="formGroup.get('fare')!.errors?.['notAPositiveNumber']">
          Should be a positive number!
        </span>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="submitCLicked()" [disabled]="formGroup.invalid || formGroup.pristine.valueOf()">Apply</button>
    <button mat-raised-button (click)="resetClicked()" [disabled]="!formGroup.dirty">{{ this.data.createEvent? "Clear" : "Reset" }}</button>
    <button mat-raised-button color="warn" (click)="discardClicked()">Discard</button>
  </div>

</form>
