
<!--&lt;!&ndash;<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">&ndash;&gt;-->



<!--&lt;!&ndash;  &lt;!&ndash; Position Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container matColumnDef="routeID">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef> No. </th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let element"> {{element.routeID}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  &lt;!&ndash; Name Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container matColumnDef="departure">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef> Departure </th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let element"> {{element.departure}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  &lt;!&ndash; Weight Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container matColumnDef="destination">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef> Destination </th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  &lt;!&ndash; Symbol Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <ng-container matColumnDef="mileage">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef> Mileage </th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let element"> {{element.mileage}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  <ng-container matColumnDef="durationH">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef> Duration(H) </th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let element"> {{element.durationH}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  <ng-container matColumnDef="durationM">&ndash;&gt;-->
<!--&lt;!&ndash;    <th mat-header-cell *matHeaderCellDef> Duration(M) </th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let element"> {{element.durationM}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  <ng-container matColumnDef="action">&ndash;&gt;-->
<!--&lt;!&ndash;    <th *matHeaderCellDef></th>&ndash;&gt;-->
<!--&lt;!&ndash;    <td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-mini-fab color="primary" ><mat-icon>edit</mat-icon></button> |&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>&ndash;&gt;-->
<!--&lt;!&ndash;    </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>&ndash;&gt;-->
<!--&lt;!&ndash;  <tr mat-row&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="changedClickedRow(row)"&ndash;&gt;-->
<!--&lt;!&ndash;      [class.demo-row-is-clicked]="clickedRows.has(row)"&ndash;&gt;-->
<!--&lt;!&ndash;      *matRowDef="let row; columns: displayedColumns;"></tr>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<button mat-raised-button>Pick one</button>&ndash;&gt;-->

<!--  <div *ngFor="let route of dataSource">-->
<!--    <app-entry (sendItemsEvent)="gotData($event)"-->
<!--      [routeID]="route.routeID"-->
<!--      [departure]="route.departure"-->
<!--      [destination]="route.destination"-->
<!--      [mileage]="route.mileage"-->
<!--      [durationH]="route.durationH"-->
<!--      [durationM]="route.durationM"-->
<!--    >-->
<!--    </app-entry>-->
<!--  </div>-->




