
<div class="search-filter">
  <form class="search-form">
    <mat-form-field appearance="fill">
      <mat-label>Departure</mat-label>
      <select matNativeControl [(ngModel)]="searchFormDeparture" name="departure" #selectDropdown>
        <option value="" selected></option>
        <option *ngFor="let departure of airports" [value]="departure">
          {{departure | titlecase}}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field style="padding-left: 10px" appearance="fill">
      <mat-label>Arrival</mat-label>
      <select matNativeControl [(ngModel)]="searchFormDestination" name="destination" #selectDropdown>
        <option value="" selected></option>
        <option *ngFor="let destination of airports" [value]="destination">
          {{destination | titlecase}}
        </option>
      </select>
    </mat-form-field>
    <button  mat-raised-button color="primary" (click)="filterRoutes()">Search</button>

    <button *ngIf="searchFormDeparture.length>0 || searchFormDestination.length>0"  mat-raised-button color="primary" (click)="clearInputs()">Clear</button>
    <button *ngIf="searchFormDeparture.length==0 && searchFormDestination.length==0" disabled  mat-raised-button color="primary" (click)="clearInputs()">Clear</button>

  </form>
</div>


  <div style="width: 100%">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 style="padding-left: 2%;">Available Routes</h2>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>No.</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Mileage(miles)</th>
            <th>Duration</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr app-entry *ngFor="let route of ALL_ROUTES; let i=index;"
              (sendToBeDeletedRecordEvent)="deleteRoute($event)"
              (dataPopulateEvent)="dataPopulate($event)"
              [route]="route"
              [rowNumber] = "i"
          >
          </tbody>
        </table>
      </div>
      <mat-spinner *ngIf="!ALL_ROUTES"  style="margin: 0 auto"></mat-spinner>
    </div>
  </div>
  <button class="add-flight-button" (click)="openDialogToCreate()"><strong>Add Route</strong></button>





