
<!--<div class="search-container">-->
<!--  Search thing-->
<!--</div>-->

<div class="search-container">
  <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
    <mat-form-field appearance="fill">
      <mat-label>Departure</mat-label>
      <input matInput name="departure" [(ngModel)]="searchFormDeparture">
      <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
      <!--    <mat-hint>Departure</mat-hint>-->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Destination</mat-label>
      <input matInput name="destination" [(ngModel)]="searchFormDestination" >
      <!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    </mat-form-field>
    <button type="submit">Apply</button>
    <button type="button" (click)="clearInputs()">Clear</button>
  </form>
</div>

<div class="search-container">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>



<div class="centered">
  <app-entry *ngFor="let route of ALL_ROUTES" (sendItemsEvent)="gotData($event)" (sendToBeDeletedRecordEvent)="deleteRecord($event)"
             [routeID]="route.routeID"
             [departure]="route.departure"
             [destination]="route.destination"
             [mileage]="route.mileage"
             [durationH]="route.durationH"
             [durationM]="route.durationM"
  >
  </app-entry>
</div>

<div class="centered">
  <app-form [formData]=formDataInRouteScreen [allRoutes]="ALL_ROUTES"></app-form>
</div>



<!--<div class="split-left left">-->
<!--  <div class="centered">-->
<!--    <app-form [formData]=formDataInRouteScreen [allRoutes]="ALL_ROUTES"></app-form>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="split-right right">-->


<!--  <div class="centered">-->
<!--      <app-entry *ngFor="let route of ALL_ROUTES" (sendItemsEvent)="gotData($event)" (sendToBeDeletedRecordEvent)="deleteRecord($event)"-->
<!--         [routeID]="route.routeID"-->
<!--         [departure]="route.departure"-->
<!--         [destination]="route.destination"-->
<!--         [mileage]="route.mileage"-->
<!--         [durationH]="route.durationH"-->
<!--         [durationM]="route.durationM"-->
<!--      >-->
<!--      </app-entry>-->
<!--  </div>-->
<!--</div>-->





<!--<div style="width: 90%; padding-left: 5%">-->

<!--  <app-details (sendFormDataEvent)="getFormData($event)"></app-details>-->
<!--  <app-form [formData]=formDataInRouteScreen></app-form>-->

<!--</div>-->


