
<form #f="ngForm" [formGroup]="sampleForm">
  <div>
  <mat-form-field appearance="fill">
    <mat-label>Departure</mat-label>
      <input formControlName="departure" matInput name="departure">
  </mat-form-field>
  </div>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Destination</mat-label>
    <input formControlName="destination" matInput name="destination">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Mileage(miles)</mat-label>
    <input formControlName="mileage" matInput name="mileage">
    <span class="text-danger" *ngIf="sampleForm.get('mileage')!.errors?.['forbiddenNumber']">
       Invalid: Cannot contain letters
    </span>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Duration(H)</mat-label>
    <input formControlName="durationH" matInput name="durationH">
    <span class="text-danger" *ngIf="sampleForm.get('durationH')!.errors?.['forbiddenNumber']">
       Invalid: Cannot contain letters
    </span>
  </mat-form-field>
  <br>

  <br>
  <button mat-raised-button type="button" (click)="onSubmitUpdate()" [disabled]="sampleForm.invalid">Apply</button>
  <button mat-raised-button color="warn" type="button" (click)="resetValues()">Reset</button>
  <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Discard</button>
</form>



