<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <mat-form-field appearance="fill">
    <mat-label>Departure</mat-label>
    <input matInput name="departure" ngModel>
<!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
<!--    <mat-hint>Departure</mat-hint>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Destination</mat-label>
    <input matInput name="destination" ngModel >
<!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Mileage(miles)</mat-label>
    <input matInput name="mileage" ngModel>
<!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Duration(H)</mat-label>
    <input matInput name="durationH" ngModel>
<!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Duration(M)</mat-label>
    <input matInput name="durationM" ngModel>
<!--    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
  </mat-form-field>
  <button type="submit">Submit</button>
</form>


