
<div style="text-align: center">
<form style="padding: 10px; display: inline-block" #f="ngForm" [formGroup]="sampleForm">
  <div>
  <mat-form-field appearance="fill">
    <mat-label>Departure</mat-label>

      <input *ngIf="data.type==='edit'" [value]="data.route.departure.toUpperCase()" disabled matInput name="departure">
<!--      <span class="text-danger" *ngIf="sampleForm!.errors?.['forbiddenLocations']">-->
<!--         Invalid: Locations cannot be same.-->
<!--      </span>-->
    <select *ngIf="data.type==='create'" matNativeControl formControlName="departure" name="departure" #selectDropdown>
      <!--      <select matNativeControl [(ngModel)]="searchFormDeparture" name="departure" (change)="filterDataFromBackend()" #selectDropdown>-->
      <option value="" selected></option>
      <option *ngFor="let airport of data.airports" [value]="airport">
        {{airport | titlecase}}
      </option>
    </select>
    <span class="text-danger" *ngIf="sampleForm!.errors?.['forbiddenLocations']">
       Invalid: Locations cannot be same.
    </span>
  </mat-form-field>
  </div>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Arrival</mat-label>
    <input *ngIf="data.type==='edit'" [value]="data.route.destination.toUpperCase()" disabled matInput name="destination">
<!--    <span class="text-danger" *ngIf="sampleForm!.errors?.['forbiddenLocations']">-->
<!--         Invalid: Locations cannot be same.-->
<!--    </span>-->
    <select *ngIf="data.type==='create'" matNativeControl formControlName="destination" name="destination" #selectDropdown>
      <!--      <select matNativeControl [(ngModel)]="searchFormDeparture" name="departure" (change)="filterDataFromBackend()" #selectDropdown>-->
      <option value="" selected></option>
      <option *ngFor="let airport of data.airports" [value]="airport">
        {{airport | titlecase}}
      </option>
    </select>
    <span class="text-danger" *ngIf="sampleForm!.errors?.['forbiddenLocations']">
       Invalid: Locations cannot be same.
    </span>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Mileage(miles)</mat-label>
    <input formControlName="mileage" matInput name="mileage">
    <span class="text-danger" *ngIf="sampleForm.get('mileage')!.errors?.['forbiddenNumber']">
       Invalid: Cannot contain letters
    </span>
    <span class="text-danger" *ngIf="sampleForm.get('mileage')!.errors?.['negativeNumber']">
       Invalid: Cannot be a negative number
    </span>
    <span class="text-danger" *ngIf="sampleForm.get('mileage')!.errors?.['zeroNumber']">
       Invalid: Mileage should be a positive value
    </span>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Duration(hours)</mat-label>
    <input formControlName="durationH" matInput name="durationH">
    <span class="text-danger" *ngIf="sampleForm.get('durationH')!.errors?.['forbiddenNumber']">
       Invalid: Cannot contain letters
    </span>
    <span class="text-danger" *ngIf="sampleForm.get('durationH')!.errors?.['negativeNumber']">
       Invalid: Cannot be a negative number
    </span>
    <span class="text-danger" *ngIf="sampleForm.get('durationH')!.errors?.['zeroNumber']">
       Invalid: Mileage should be a positive value
    </span>
  </mat-form-field>
  <br>

  <br>
  <div *ngIf="data.type === 'edit'">
    <button mat-raised-button color="primary" style="margin-left: 10px" type="button" (click)="onSubmitUpdateInBackend()" [disabled]="sampleForm.invalid">Apply</button>
    <button mat-raised-button type="button" style="margin-left: 10px" [disabled]="areSameValues()" (click)="resetValues()">Reset</button>
    <button mat-raised-button color="warn" style="margin-left: 10px" type="button" (click)="afterDiscardClosing()">Discard</button>
  </div>

  <div *ngIf="data.type === 'create'">
    <button mat-raised-button color="primary" style="margin-left: 10px" type="button" (click)="onSubmitCreateInBackend()" [disabled]="sampleForm.invalid">Create</button>
    <button mat-raised-button type="button" style="margin-left: 10px" [disabled]="areSameValues()" (click)="clearValues()">Clear</button>
    <button mat-raised-button color="warn" style="margin-left: 10px" type="button" (click)="afterDiscardClosing()">Discard</button>
  </div>

</form>
</div>



