<div class="app-header-wrapper">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Flight Management System</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-link" href="#">Fares</a></li>
        <li><a href="#">Routes</a></li>
        <li><a href="#">Flights</a></li>
      </ul>

    </div>
  </div>

</div>
