/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-error-message{
  color: red;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
}

table{
  width: 100%;
  border: 15px solid #004f80;

}

tr:nth-child(even) {
  background-color: #eed6d6;
}
