.record {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
  text-align: center;
}

.box {
  padding: 2px;
  width: 100%;
  border: 1px solid #cbc8c8;
  text-align: center;
}
