<h1>Fares screen</h1>
<div>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Departure</mat-label>
      <select matNativeControl [(ngModel)]="searchCriteria.departure" name="departure" (change)="filterData()" #selectDropdown>
        <option value="" selected></option>
        <option *ngFor="let location of locations" [value]="location.name">
          {{location.name}}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Arrival</mat-label>
      <select matNativeControl [(ngModel)]="searchCriteria.arrival" name="arrival" (change)="filterData()">
        <option value="" selected></option>
        <option *ngFor="let location of locations" [value]="location.name">
          {{location.name}}
        </option>
      </select>
    </mat-form-field>
    <button (click)="handleClear()">Clear</button>
  </form>
</div>
<div>
  <app-entry
    *ngFor="let datum of searchedData"
    [id]="datum.id"
    [departure]="datum.departure"
    [arrival]="datum.arrival"
    [fare]="datum.fare"></app-entry>
</div>
