<!--{{routeID}}  {{departure}}  {{destination}}  {{mileage}}  {{durationH}}  {{durationM}}-->
<!--<br>-->

<div class="record">
  <div class="box">{{routeID}}</div>
  <div class="box">{{departure}}</div>
  <div class="box">{{destination}}</div>
  <div class="box">{{mileage}}</div>
  <div class="box">{{durationH}}</div>
  <div class="box">{{durationM}}</div>
</div>


<!--<tr>-->
<!--  <td>{{routeID}}</td>-->
<!--  <td>{{departure}}</td>-->
<!--  <td>{{destination}}</td>-->
<!--  <td>{{mileage}}</td>-->
<!--  <td>{{durationH}}</td>-->
<!--  <td>{{durationM}}</td>-->
<!--</tr>-->



