<!--&lt;!&ndash;{{routeID}}  {{departure}}  {{destination}}  {{mileage}}  {{durationH}}  {{durationM}}&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->

<!--<div style="width: 80%; padding-left: 10%; align-content: space-evenly; text-align: center;" (click)="displayEntry();">-->
<!--&lt;!&ndash;  <div class="box"><p>{{routeID}}</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="box">{{departure}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="box">{{destination}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="box">{{mileage}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="box">{{durationH}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="box">{{durationM}}</div>&ndash;&gt;-->
<!--  <mat-expansion-panel-header>-->
<!--    <mat-panel-description>-->
<!--      {{routeID}}-->
<!--    </mat-panel-description>-->
<!--    <mat-panel-description>-->
<!--      {{departure}}-->
<!--    </mat-panel-description>-->
<!--    <mat-panel-description>-->
<!--      {{destination}}-->
<!--    </mat-panel-description>-->
<!--    <mat-panel-description>-->
<!--      {{mileage}}-->
<!--    </mat-panel-description>-->
<!--    <mat-panel-description>-->
<!--      {{durationH}}-->
<!--    </mat-panel-description>-->
<!--    <mat-panel-description>-->
<!--      {{durationM}}-->
<!--    </mat-panel-description>-->
<!--    <mat-panel-description>-->
<!--      <button mat-raised-button (click)="sendItemsToParent(); openDialog();">Edit</button>-->
<!--      <button mat-raised-button color="warn" (click)="deleteItem();">Delete</button>-->
<!--    </mat-panel-description>-->
<!--  </mat-expansion-panel-header>-->
<!--  -->
<!--</div>-->


<!--<tr>-->
  <td>{{routeID}}</td>
  <td>{{departure}}</td>
  <td>{{destination}}</td>
  <td>{{mileage}}</td>
  <td>{{durationH}}</td>
  <td>
    <button mat-raised-button (click)="sendItemsToParent(); openDialog();">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteItem();">Delete</button>
  </td>
<!--</tr>-->



