
<td style="text-align: center">{{route.routeID}}</td>
<td style="text-align: center">{{route.departure}}</td>
<td style="text-align: center">{{route.destination}}</td>
<td style="text-align: center">{{route.mileage}}</td>
<td style="text-align: center">{{numOfHours}} hours {{numOfMinutes}} minutes</td>
<td>
  <button mat-raised-button color="primary" style="margin-left: 10px" (click)="openDialog();">Edit</button>
  <button mat-raised-button color="warn" style="margin-left: 10px" (click)="deleteItem();">Delete</button>
</td>




