<td>{{flight.flightNumber}}</td>
<td>{{flight.departure | titlecase}}</td>
<td>{{flight.arrival | titlecase}}</td>
<td>{{flight.departureDate | titlecase}}</td>
<td>{{flight.departureTime | titlecase}}</td>
<td>{{flight.arrivalDate | titlecase}}</td>
<td>{{flight.arrivalTime | titlecase}}</td>

<td>
    <button mat-raised-button color="primary" style="margin-left: 10px" (click)="onClickEdit()">Edit</button>
    <button  mat-raised-button color="warn" style="margin-left: 10px" (click)="onClickDelete()">Delete</button>
</td>

